* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

:root {
  --disc-primary: #8ea1e1;
  --disc-secondary: #3161e0;
  --disc-dark: #23272a;
  --disc-light: #f6f6f6;
  --disc-lighter: #ffffff;
}

html,
body {
  height: 100%;
}

.debug {
  header {
    background-color: cyan;
    .site_header {
      min-height: 2rem;
      background-color: yellow;
    }
  }
  main {
    .jumbotron_container {
      min-height: 20rem;
      background-color: blue;
      #jumbotron {
        min-height: 20rem;
        background-color: purple;
      }
    }

    .feature_box_container {
      background-color: black;
    }

    .feature_box_container + .box2 {
      background-color: gray;
    }
    .feature_boxes {
      min-height: 22rem;
    }

    .big_box {
      background-color: aquamarine;
    }

    .small_box {
      background-color: pink;
    }

    #technology_container {
      background-color: gray;
      #technology {
        min-height: 44rem;
        background-color: green;
      }
    }
  }
  #site_footer {
    background-color: darkslategray;
    #upper_footer {
      min-height: 22rem;
      .bigger_footer_area {
        background-color: salmon;
      }
      .smaller_footer_area {
        background-color: cyan;
      }
    }
    #lower_footer {
      min-height: 3rem;
      background-color: turquoise;
    }
    #footer_logo,
    #footer_btn {
      background-color: palevioletred;
    }
  }
}

/*utilities*/

.d-flex {
  display: flex;
}

.unstyled_list {
  list-style: none;
  gap: 1rem;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: black;
  }
}

.container_spacing {
  padding: 3rem 0;
}

.box2 {
  background-color: var(--disc-light);
}

.flag_logo {
  width: 2rem;
  vertical-align: text-bottom;
}

.disc-light_filter {
  filter: invert(100%) sepia(1%) saturate(93%) hue-rotate(241deg)
    brightness(117%) contrast(93%);
}

.wavebg {
  width: 100%;
  display: block;
}

.img-flip {
  -moz-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, -1);
}

/*utilities end*/

#header_container {
  padding: 1rem;
  background-color: var(--disc-secondary);
}

.site_header {
  justify-content: space-evenly;
  align-items: center;
  max-width: 70%;
  margin: auto;
  gap: 14rem;

  #logo {
    color: var(--disc-lighter);
  }

  ul {
    gap: 2rem;
    a {
      color: var(--disc-lighter);
    }
  }

  div {
    color: var(--disc-dark);
    background-color: var(--disc-lighter);
    border-radius: 20px;
    padding: 0.6rem;
  }
}
/* HEADER END */

.jumbotron_container {
  background-image: url("../media/img/jumbo.png");
  background-size: cover;
  min-height: 660px;
  margin-bottom: 3rem;
}

#jumbotron {
  max-width: 50%;
  margin: auto;
  text-align: center;
  color: var(--disc-lighter);
  h1 {
    font-size: 4rem;
    padding: 3rem;
  }

  p {
    padding-bottom: 2.25rem;
  }

  p,
  a {
    font-size: 1.3rem;
  }

  a {
    display: inline-block;
    padding: 1rem;
    border-radius: 30px;
  }

  .jumbotron_btns {
    justify-content: center;
    gap: 3rem;
    #jumbo_left_btn {
      background-color: var(--disc-lighter);
      color: var(--disc-dark);
    }
    #jumbo_right_btn {
      background-color: var(--disc-dark);
      color: var(--disc-light);
    }
  }

  #jumbo_left_btn:hover,
  #jumbo_right_btn:hover {
    color: var(--disc-secondary);
  }
}

/* JUMBOTRON END */

.feature_boxes {
  max-width: 70%;
  margin: auto;
  color: var(--disc-dark);
  text-align: left;
  h2 {
    width: 70%;
    font-size: 3rem;
    padding-bottom: 2rem;
  }
  p {
    width: 70%;
    font-size: 1.3rem;
  }
}

.big_box {
  min-width: 60%;
}

.small_box {
  min-width: 40%;
}

/*FEATURE BOXES END */

#technology {
  max-width: 70%;
  margin: auto;
  color: var(--disc-dark);
  text-align: center;
  h2 {
    font-size: 3rem;
    padding-bottom: 2rem;
  }
  p {
    font-size: 1.3rem;
  }
  h3 {
    font-size: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-image: url(../media/img/stars.svg);
    background-origin: padding-box;
    background-size: 60%;
    background-position: center top;
    background-repeat: no-repeat;
  }
  a {
    background-color: var(--disc-primary);
    padding: 1rem;
    border-radius: 30px;
    color: var(--disc-light);
    font-size: 1.3rem;
  }
}

/*TECHNOLOGY BOX END */

#site_footer {
  background-color: var(--disc-dark);
  h3,
  h4 {
    color: var(--disc-primary);
  }
  a {
    color: var(--disc-lighter);
  }
}

.bigger_footer_area {
  flex-grow: 2;
  flex-direction: column;
  gap: 1rem;

  a {
    text-decoration: none;
  }
  span {
    vertical-align: top;
  }

  div.d-flex {
    justify-content: flex-start;
    gap: 1rem;
  }
}

.smaller_footer_area {
  flex-grow: 1;
  flex-direction: column;
  gap: 1rem;
}

#upper_footer {
  max-width: 70%;
  margin: auto;
  margin-bottom: 2rem;
  padding-top: 5rem;
}

#lower_footer {
  max-width: 70%;
  margin: auto;
  padding: 3rem 0 0 4rem;
  justify-content: space-between;
  align-items: center;
  #footer_btn {
    background-color: var(--disc-primary);
    color: var(--disc-lighter);
    padding: 1rem;
    border-radius: 30px;
    margin-bottom: 1rem;
  }
}

hr {
  border-color: var(--disc-primary);
}

/*FOOTER END */
